body
{
	background-image: url(aa.jpg);
	background-size: cover;
	height: 100vh;

}
.a
{
	position: absolute;
	background-color: #52527a;
	left: 40%;
	top: 30%;
	width: 350px;
	height: 430px;
	border-radius: 15px;
}
.b
{
	font-family: 'Roboto Slab', serif;
	position: absolute;
	left: 42.5%;
	top: 40%;
	width: 250px;
	height: 35px;
	text-align: center;
	font-size: 20px;
	border-radius: 5px;
	background-color: #d9b3ff;
}
.c
{
	font-family: 'Roboto Slab', serif;
	position: absolute;
	left: 42.5%;
	top: 48%;
	width: 250px;
	height: 35px;
	text-align: center;
	font-size: 20px;
	border-radius: 5px;
	background-color: #d9b3ff;
}
.d
{
    font-family: 'Roboto Slab', serif;
	position: absolute;
	left: 46%;
	top: 58%;
	width: 120px;
	height: 40px;
	text-align: center;
	font-size: 20px;
	border-radius: 5px;
	background-color: #b3ffff;
	color: #333333;
}
.e
{
	font-family: 'Roboto Slab', serif;
	position: absolute;
	left: 45%;
	top: 64%;
	text-align: center;
	font-size: 20px;
	color: #b3ffff;


}
.f
{
	position: absolute;
	left: 25%;
	top: 24%;
	text-align: center;
	font-size: 20px;
	color: #b3ffff;
}
.t
{
	position: absolute;
	left: 90%;
	top: 0%;
    height: 200px;
    width: 130px;
}
